#include "DigiKeyboard.h"
#define CHAR_DELAY 100

void typePassword() {
  // enter here the password sequence, example : `test`
  DigiKeyboard.print("t");
  DigiKeyboard.delay(CHAR_DELAY);
  DigiKeyboard.print("e");
  DigiKeyboard.delay(CHAR_DELAY);
  DigiKeyboard.print("s");
  DigiKeyboard.delay(CHAR_DELAY);
  DigiKeyboard.print("t");
  DigiKeyboard.delay(CHAR_DELAY);
}
